<component name="ArtifactManager">
  <artifact type="war" name="SpringCloudServerConfig:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-cloud-server-config-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringCloudServerConfig:war exploded" />
    </root>
  </artifact>
</component>